.scrollable-content {
  max-height: 230px; /* Ajuste conforme necessário */
  overflow-y: auto;
}

.scrollable-content::-webkit-scrollbar {
  width: 7px;
}

.scrollable-content::-webkit-scrollbar-track {
  background: transparent; /* Remove a cor de fundo da trilha do scrollbar */
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: #5f5f5f; /* Cor do thumb (parte que você arrasta) */
  border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #474747; /* Cor do thumb ao passar o mouse */
}